<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content"> 
      <!-- ################################################################################################ -->
      <h1>Select your Date</h1>

      <select id = "selectbox_date">
		  <option value = ""> Select A Date &hellip;</option>
		  <option value = "0"> 13 Feb 2018 </option>
		  <option value = "1"> 14 Feb 2018 </option>
		  <option value = "2"> 15 Feb 2018 </option>
	  </select>
	  
	  <select id = "selectbox_timeslot">
		  <option value = ""> Select A TimeSlot &hellip;</option>
		  <option value = "0"> 0830hrs </option>
		  <option value = "1"> 0930hrs </option>
		  <option value = "2"> 1030hrs </option>
	  </select>
	  
	  <select id = "selectbox_tr">
		  <option value = ""> Select A TR &hellip;</option>
		  <option value = "0"> TR+1 </option>
		  <option value = "1"> TR+2 </option>
		  <option value = "2"> TR+3 </option>
	  </select>
	  
	  <button class = "dropbtn"> Submit </button>
      
	<div style = "padding-top : 50px">
		<h1>Result(s)</h1>
			<div class="scrollable">
			<table>
			  <thead>
				<tr>
				  <th>Date</th>
				  <th>Time Slot</th>
				  <th>Tutorial Room</th>
				  <th>Available Tables</th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <td><a href="#">Value 1</a></td>
				  <td>Value 2</td>
				  <td>Value 3</td>
				  <td>Value 4</td>
				</tr>
				<tr>
				  <td>Value 5</td>
				  <td>Value 6</td>
				  <td>Value 7</td>
				  <td><a href="#">Value 8</a></td>
				</tr>
				<tr>
				  <td>Value 9</td>
				  <td>Value 10</td>
				  <td>Value 11</td>
				  <td>Value 12</td>
				</tr>
				<tr>
				  <td>Value 13</td>
				  <td><a href="#">Value 14</a></td>
				  <td>Value 15</td>
				  <td>Value 16</td>
				</tr>
			  </tbody>
			</table>
			</div>
	</div>
      <div id="comments" style = "padding-top:50px;">
        <h2>Comments</h2>
        <ul>
          <li>
            <article>
              <header>
                <figure class="avatar"><img src="../images/demo/avatar.png" alt=""></figure>
                <address>
                By <a href="#">A Name</a>
                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
              </div>
            </article>
          </li>
          <li>
            <article>
              <header>
                <figure class="avatar"><img src="../images/demo/avatar.png" alt=""></figure>
                <address>
                By <a href="#">A Name</a>
                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
              </div>
            </article>
          </li>
          <li>
            <article>
              <header>
                <figure class="avatar"><img src="../images/demo/avatar.png" alt=""></figure>
                <address>
                By <a href="#">A Name</a>
                </address>
                <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
              </header>
              <div class="comcont">
                <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
              </div>
            </article>
          </li>
        </ul>
        <h2>Write A Comment</h2>
        <form action="#" method="post">
          <div class="one_third first">
            <label for="name">Name <span>*</span></label>
            <input type="text" name="name" id="name" value="" size="22" required>
          </div>
          <div class="one_third">
            <label for="email">Mail <span>*</span></label>
            <input type="email" name="email" id="email" value="" size="22" required>
          </div>
          <div class="one_third">
            <label for="url">Website</label>
            <input type="url" name="url" id="url" value="" size="22">
          </div>
          <div class="block clear">
            <label for="comment">Your Comment</label>
            <textarea name="comment" id="comment" cols="25" rows="10"></textarea>
          </div>
          <div>
            <input type="submit" name="submit" value="Submit Form">
            &nbsp;
            <input type="reset" name="reset" value="Reset Form">
          </div>
        </form>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>