<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content"> 
      <!-- ################################################################################################ -->
      <h1>Select your Date</h1>

      <select id = "selectbox_date" ng-change ="onChange()" ng-model="select.date">
		<option value = "0"> Select A Date &hellip;</option>
		<option ng-repeat = "option in select.dateOptions" value="{{option.id}}">{{option.name}}</option> 
		  <!--<option value = ""> Select A Date &hellip;</option>
		  <option value = "0"> 13 Feb 2018 </option>
		  <option value = "1"> 14 Feb 2018 </option>
		  <option value = "2"> 15 Feb 2018 </option>-->
	  </select>
	  
	  <select id = "selectbox_timeslot" ng-change ="onChange()" ng-model="select.timeslot">
		<option value = "0"> Select A TimeSlot &hellip;</option>
		<option ng-repeat = "option in select.timeslotOptions" value="{{option}}">{{option}}hrs</option>
		  
		  <!--<option value = "0"> 0830hrs </option>
		  <option value = "1"> 0930hrs </option>
		  <option value = "2"> 1030hrs </option>-->
	  </select>
	  
	  <select id = "selectbox_tr" ng-change ="onChange()" ng-model="select.tr">
		  <option value = "0"> Select A TR &hellip;</option>
		  <option ng-repeat = "option in select.trOptions" value="{{option}}">TR+{{option}}</option>
		  <input type="submit" style=" position:relative;top:10px;"ng-click="submit_table()" value="Search">
	  </select>
	  
	  
      
	<div style = "padding-top : 50px">
		<h1>Result(s)</h1>
			<div class="scrollable">
			<table ng-model="table.tb">
			  <thead>
				<tr>
				  <th>Date</th>
				  <th>Time Slot</th>
				  <th>Tutorial Room</th>
				  <th>Available Tables</th>
				</tr>
			  </thead>
			  <tbody>
				<tr ng-repeat = "option in table.tbOptions" value = "{{}}">
				  <td><a href="#" ng-click="selectDate(option)">{{option.date}}</a></td>
				  <td>{{option.timeslot}}</td>
				  <td>{{option.room}}</td>
				  <td>{{option.vacancy}}</td>
				</tr>

			  </tbody>
			</table>
			</div>
	</div>
	
	<div id = "mySelection">
	<h2> Your Current Selection </h2>
	<article id = "mySelectionStyle" style = "background-color:#b9deff;border-radius:10px; padding:10px;">
	  <header>
		<b>Name : <a href="#">CHICKEN1</a></b>
	  </header>  
		<b><br>Tutorial Room :</b> +{{details.room}}</br>
		<b>Date :</b> {{details.date}} ,
		<b>Time Slot :</b> {{details.timeslot}}hrs 
		
		<button class = "dropbtn" style = "position : relative; right : -50%;"ng-click = "submit_selection()"> Submit </button>
		<button class = "dropbtn" style = "background-color:#ff2400; position : relative; right : -45%;" ng-click = "clear_selection()"> Clear </button>
		
		</br>
		
		<b style=""> {{details.returnMsg}} </b>
	</article>
	</div>
	<!--<div id="" style = "padding-top:50px;">
		<h2>Cheat Sheet Insert TutorialRoom ( Test Insert into mongoDB )</h2>
		<form name="newform" id = "newform" action="#">
			<div class="one_third first">
				<input type="number" placeholder = "Room No." ng-model="tut.roomNumber">
			</div>
			<div class="one_third">
				<input type="number" placeholder = "Date" ng-model="tut.date">
			</div>
			<div class="one_third">
				<select id = "selectbox_day" ng-model="tut.day">
					<option value = ""> Select A Day &hellip;</option>
					<option value = "Monday"> Monday </option>
					<option value = "Tuesday"> Tuesday </option>
					<option value = "Wednesday"> Wednesday </option>
					<option value = "Thursday"> Thursday </option>
					<option value = "Friday"> Friday </option>
				</select>
			</div>
			<input type="submit" ng-click="createtutorialroom()" value="Submit Form">
			<!--<input type="reset" name="reset" value="Reset Form">
		</form>
	</div>-->
    <!-- ################################################################################################ -->
	<!--<div>
		<h2>Cheat Sheet Insert TimeSlot ( Test Insert into mongoDB )</h2>
		<form name="newform" id = "newform" action="#">
			<div class="one_third first">
				<input type="number" placeholder = "Start Time" ng-model="time.start_time">
			</div>
			<div class="one_third">
				<input type="number" placeholder = "End Time" ng-model="time.end_time">
			</div>
			<div class="one_third">
				<input type="number" placeholder = "Vancancy" ng-model="time.vacancy">
			</div>
			<input type="submit" ng-click="createtimeslot()" value="Submit Form">
			<!--<input type="reset" name="reset" value="Reset Form">
		</form>
	</div>
	
	<div id="" style = "padding-top:50px;">
		<h2>Cheat Sheet Combine</h2>
		<select id = "" ng-model="combinetut.tutorial">
		<option value = "0"> Select A Tutorial ID &hellip;</option>
		<option ng-repeat = "option in combinetut.tutorialOptions" value="{{option._id}}">{{option._id}}</option> 
	  </select>
	  
	  <select id = "" ng-model="combinetime.timeslot">
		<option value = "0"> Select A TimeSlot &hellip;</option>
		<option ng-repeat = "option in combinetime.timeslotOptions" value="{{option._id}}">{{option._id}}</option>
	  </select>
	  
	  <input type="submit" ng-click="combination()" value="Combine">
	</div>-->
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>