<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content"> 
      <!-- ################################################################################################ -->
      <h1>Select your Date</h1>

      <select id = "selectbox_date" ng-change ="onChange()" ng-model="select.date">
		<option value = "0"> Select A Date &hellip;</option>
		<option ng-repeat = "option in select.dateOptions" value="{{option.id}}">{{option.name}}</option> 
		  <!--<option value = ""> Select A Date &hellip;</option>
		  <option value = "0"> 13 Feb 2018 </option>
		  <option value = "1"> 14 Feb 2018 </option>
		  <option value = "2"> 15 Feb 2018 </option>-->
	  </select>
	  
	  <select id = "selectbox_timeslot">
		<option value = "0"> Select A TimeSlot &hellip;</option>
		<option ng-repeat = "option in select.timeslotOptions" value="{{option}}">{{option}}hrs</option>
		  
		  <!--<option value = "0"> 0830hrs </option>
		  <option value = "1"> 0930hrs </option>
		  <option value = "2"> 1030hrs </option>-->
	  </select>
	  
	  <select id = "selectbox_tr">
		  <option value = "0"> Select A TR &hellip;</option>
		  <option ng-repeat = "option in select.trOptions" value="{{option}}">TR+{{option}}</option>
	  </select>
	  
	  <button class = "dropbtn"> Submit </button>
      
	<div style = "padding-top : 50px">
		<h1>Result(s)</h1>
			<div class="scrollable">
			<table>
			  <thead>
				<tr>
				  <th>Date</th>
				  <th>Time Slot</th>
				  <th>Tutorial Room</th>
				  <th>Available Tables</th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <td><a href="#">Value 1</a></td>
				  <td>Value 2</td>
				  <td>Value 3</td>
				  <td>Value 4</td>
				</tr>
				<tr>
				  <td>Value 5</td>
				  <td>Value 6</td>
				  <td>Value 7</td>
				  <td><a href="#">Value 8</a></td>
				</tr>
				<tr>
				  <td>Value 9</td>
				  <td>Value 10</td>
				  <td>Value 11</td>
				  <td>Value 12</td>
				</tr>
				<tr>
				  <td>Value 13</td>
				  <td><a href="#">Value 14</a></td>
				  <td>Value 15</td>
				  <td>Value 16</td>
				</tr>
			  </tbody>
			</table>
			</div>
	</div>
	<div id="" style = "padding-top:50px;">
		<h2>Cheat Sheet Insert TutorialRoom ( Test Insert into mongoDB )</h2>
		<form name="newform" id = "newform" action="#">
			<div class="one_third first">
				<input type="number" placeholder = "Room No." ng-model="tut.roomNumber">
			</div>
			<div class="one_third">
				<input type="number" placeholder = "Date" ng-model="tut.date">
			</div>
			<div class="one_third">
				<select id = "selectbox_day" ng-model="tut.day">
					<option value = ""> Select A Day &hellip;</option>
					<option value = "Monday"> Monday </option>
					<option value = "Tuesday"> Tuesday </option>
					<option value = "Wednesday"> Wednesday </option>
					<option value = "Thursday"> Thursday </option>
					<option value = "Friday"> Friday </option>
				</select>
			</div>
			<input type="submit" ng-click="createtutorialroom()" value="Submit Form">
			<!--<input type="reset" name="reset" value="Reset Form">-->
		</form>
	</div>
    <!-- ################################################################################################ -->
	<div>
		<h2>Cheat Sheet Insert TimeSlot ( Test Insert into mongoDB )</h2>
		<form name="newform" id = "newform" action="#">
			<div class="one_third first">
				<input type="number" placeholder = "Start Time" ng-model="time.start_time">
			</div>
			<div class="one_third">
				<input type="number" placeholder = "End Time" ng-model="time.end_time">
			</div>
			<div class="one_third">
				<input type="number" placeholder = "Vancancy" ng-model="time.vacancy">
			</div>
			<input type="submit" ng-click="createtimeslot()" value="Submit Form">
			<!--<input type="reset" name="reset" value="Reset Form">-->
		</form>
	</div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>