<!-- ################################################################################################ -->
<div class="bgded overlay" style="background-image:url('images/hive_01.jpg');">
	<section id="callback" class="hoc container clear">
    <!-- ################################################################################################ -->
    <div class="one_half first">
      <div class="inspace-30 row3">
        <h6 class="heading">Sign In!</h6>
        <form name="myform" id="myform" action="#">
          <fieldset>
            <input type="email" placeholder = "Email" ng-model="email">
            <input type="Password" value="" placeholder="password">
            <!--<button type="submit" style = "background-color:#4CAF50;" value="submit">Enter</button>-->
			<button type="submit" style = "margin-top:5px;" value="submit" ng-click="register()">Register</button>
          </fieldset>
        </form>
      </div>
    </div>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="group">
      <div class="one_half first">
        <p class="font-xs">Placerat malesuada</p>
        <h6 class="heading font-x3">Facilisis volutpat vestibulum aliquet</h6>
        <p>Donec congue sollicitudin purus at sodales praesent augue elit lacinia et dui ac porta lobortis lectus lorem ipsum dolor sit amet consectetur adipiscing elit nulla vitae elit sit amet ante ultricies malesuada eget id dolor</p>
        <p>Proin mattis lorem sed tristique tincidunt enim ante maximus felis id accumsan sapien leo sed augue [&hellip;]</p>
        <footer><a href="#">Read More &raquo;</a></footer>
      </div>
      <div class="one_half"><a href="#"><img src="images/demo/480x360.png" alt=""></a></div>
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!--<div class="wrapper row2">
  <div class="hoc container clear">
    <!-- ################################################################################################ -->
    <div class="flexslider basicslider">
      <ul class="slides clear">
        <li>
            <article>
              <!--<footer class="btmspace-15"><a href="#">Read More &raquo;</a></footer>-->
              <h6 class="heading font-x1">Andrew Yew Ming Preedee Piyawan</h6>
              <p class="btmspace-30">Ut dolor vehicula consequat donec sodales nibh sed risus congue in proin pharetra dignissim quam massa mattis [&hellip;]</p>
              <a href="#"><img src="images/demo/320x240.png" alt=""></a>
            </article>
        </li>

        <li>
            <article>
                <!--<footer class="btmspace-15"><a href="#">Read More &raquo;</a></footer>-->
                <h6 class="heading font-x1">Ng Poh Yen</h6>
                <p class="btmspace-30">Vitae turpis id volutpat elementum nibh in id metus et nulla dapibus mollis vel vitae felis in hac habitasse [&hellip;]</p>
                <a href="#"><img src="images/demo/320x240.png" alt=""></a>
            </article>
        </li>

        <li>
            <article>
                <!--<footer class="btmspace-15"><a href="#">Read More &raquo;</a></footer>-->
                <h6 class="heading font-x1">Ng Xue Min</h6>
                <p class="btmspace-30">Platea dictumst at lectus sit amet est pretium euismod quis eget neque aliquam vitae ipsum tempor elit varius [&hellip;]</p>
                <a href="#"><img src="images/demo/320x240.png" alt=""></a>
            </article>
        </li>

        <li>
            <article>
                <!--<footer class="btmspace-15"><a href="#">Read More &raquo;</a></footer>-->
                <h6 class="heading font-x1">Lee Hui Ying</h6>
                <p class="btmspace-30">Platea dictumst at lectus sit amet est pretium euismod quis eget neque aliquam vitae ipsum tempor elit varius [&hellip;]</p>
                <a href="#"><img src="images/demo/320x240.png" alt=""></a>
            </article>
        </li>

        <li>
            <article>
                <!--<footer class="btmspace-15"><a href="#">Read More &raquo;</a></footer>-->
                <h6 class="heading font-x1">Tyrone Jiale Fecho</h6>
                <p class="btmspace-30">Platea dictumst at lectus sit amet est pretium euismod quis eget neque aliquam vitae ipsum tempor elit varius [&hellip;]</p>
                <a href="#"><img src="images/demo/320x240.png" alt=""></a>
            </article>
        </li>

        <li>
            <article>
                <!--<footer class="btmspace-15"><a href="#">Read More &raquo;</a></footer>-->
                <h6 class="heading font-x1">Kalev Damyan Zdravkov</h6>
                <p class="btmspace-30">Platea dictumst at lectus sit amet est pretium euismod quis eget neque aliquam vitae ipsum tempor elit varius [&hellip;]</p>
                <a href="#"><img src="images/demo/320x240.png" alt=""></a>
            </article>
        </li>

        <li>
            <article>
                <!--<footer class="btmspace-15"><a href="#">Read More &raquo;</a></footer>-->
                <h6 class="heading font-x1">Oon Xue Ting</h6>
                <p class="btmspace-30">Platea dictumst at lectus sit amet est pretium euismod quis eget neque aliquam vitae ipsum tempor elit varius [&hellip;]</p>
                <a href="#"><img src="images/demo/320x240.png" alt=""></a>
            </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
<!--</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <section class="hoc container clear">
    <!-- ################################################################################################ -->
    <div class="sectiontitle center">
      <h2 class="heading">Morbi rhoncus quam eget</h2>
      <p>Massa eleifend aliquet cras eu elit eget ipsum vehicula rutrum</p>
    </div>
    <ul class="nospace group services">
      <li class="one_third first">
        <article><a href="#"><i class="fa fa-leaf"></i></a>
          <h6 class="heading">Vulputate et ac nisl</h6>
          <p>In iaculis dolor praesent in ex sed purus venenatis aliquet fusce aliquet iaculis pulvinar donec [&hellip;]</p>
          <footer><a href="#">Read More &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-skyatlas"></i></a>
          <h6 class="heading">Integer pretium orci</h6>
          <p>Magna fermentum tristique vestibulum at dignissim augue integer porta tempus blandit [&hellip;]</p>
          <footer><a href="#">Read More &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-life-bouy"></i></a>
          <h6 class="heading">Non gravida maecenas</h6>
          <p>Ex sit amet consequat placerat aenean sed nunc maximus sagittis elit quis tincidunt [&hellip;]</p>
          <footer><a href="#">Read More &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third first">
        <article><a href="#"><i class="fa fa-area-chart"></i></a>
          <h6 class="heading">Cursus eros a sem</h6>
          <p>Metus in fermentum eros mauris nec risus consectetur elementum orci lobortis condimentum [&hellip;]</p>
          <footer><a href="#">Read More &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-empire"></i></a>
          <h6 class="heading">Cursus porta semper</h6>
          <p>Ligula eu velit varius dignissim ut gravida mauris eu sodales praesent sollicitudin magna [&hellip;]</p>
          <footer><a href="#">Read More &raquo;</a></footer>
        </article>
      </li>
      <li class="one_third">
        <article><a href="#"><i class="fa fa-street-view"></i></a>
          <h6 class="heading">Nulla lacinia efficitur</h6>
          <p>Congue enim morbi lacus purus posuere luctus est non semper posuere integer consequat [&hellip;]</p>
          <footer><a href="#">Read More &raquo;</a></footer>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded" style="background-image:url('images/table_phone.jpg');">
  
</div>
