<div class="wrapper row-1">
  <header id="header" class="hoc clear">
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <!-- use ui-router to load the views -->
      <h-1><a ui-sref="home">F.A.T.R</a></h-1>
    </div>
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li class="active"><a ui-sref="home">Home</a></li>
        <li><a ui-sref="bookTutorial">Book Tutorial</a></li>
        <li><a ui-sref="forumPost">Forum</a></li>
        <li><a ui-sref="#">Link Text</a></li>
      </ul>
    </nav>
    <!-- ################################################################################################ -->
  </header>
</div>
